<div class="cardContainer">
    <div class="meetingBox" *ngFor="let data of meetingArray; index as i">
        <mat-card class="example-card">
            {{ data | json }}
            <mat-card-header>
                <mat-card-title>
                    <div fxLayout="row" fxLayoutAlign="space-between center">
                        <h3>{{ data.status  }}</h3>
                        <div>
                            <mat-slide-toggle 
                                [checked]="data.clicked" 
                                (click)="toggle(data, i);"
                            >
                            </mat-slide-toggle>
                            <!-- <mat-slide-toggle (click)="meetingItems[i]=!meetingItems[i];] toggle(data);"></mat-slide-toggle> -->
                        </div>
                    </div>
                <h2>{{ data.meetingTitle }}</h2>
                </mat-card-title>
                <mat-card-subtitle>
                <h4>{{ data.meetingDescription }}</h4>
                </mat-card-subtitle>
            </mat-card-header>
        
            <mat-card-content>
                {{ data.start_date }} {{ data.start_time }}
            </mat-card-content>
        
            <mat-card-actions align="center">
                <button mat-stroked-button> Enter </button>
                <button mat-stroked-button> Cancel </button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>

<!-- <mat-card class="card">
    <mat-card-title>Break Point</mat-card-title>

    <mat-card-subtitle>
    Simple flex-layout with break point.<br>
    If you want customize to break point -> https://github.com/angular/flex-layout/wiki/Breakpoints
    </mat-card-subtitle>


    <mat-card-content>
    <div fxLayout="column">

        <div fxLayout="row" fxFlex="50px" style="background-color: #74edfd" fxLayoutAlign="center center">
            header
        </div>

        <div fxLayout="column" style="height: 150px">
            --------------
            <div fxFlexOrder="1" fxLayout="row" fxLayout.xs="column" fxFlex.xs="100" fxFlex.gt-xs="30" style="background-color: #fd7474" fxLayoutAlign="center center">side nav</div>
            <div fxFlexOrder="5" fxLayout="row" fxFlex.xs="100" fxFlex.gt-xs="70" fxFlex.gt-sm="50" style="background-color: #e8fd74" fxLayoutAlign="center center">article</div>
            <div fxFlexOrder="10" fxLayout="row" fxHide.xs fxHide.sm fxFlex.gt-sm="20" style="background-color: #74fd86" fxLayoutAlign="center center">toc</div>
            --------------
            <div fxFlex style="background-color: #fd7474">side nav</div>
            <div fxFlex style="background-color: #e8fd74">article</div>
            <div fxFlex style="background-color: #74fd86">toc</div>
        </div>

        <div fxLayout="row" fxFlex="50px" style="background-color: #74edfd" fxLayoutAlign="center center">footer</div>
    </div>
    </mat-card-content>
</mat-card> -->