<div class="" 
    (cdkDropListDropped)="dropList($event)"
    [cdkDropListData]="docStatusList"
    cdkDropList
    cdkDropListOrientation="horizontal" 
    fxFlex="auto"
    fxLayout="row" 
    fxLayoutAlign="start start" 
    fxLayoutGap="24px">

    <div class="status-box"
        *ngFor="let status of docStatusList"
        [cdkDropListData]="status"
        cdkDrag
        cdkDropListGroup
        fxFlex="none" 
        fxLayout="column"
        >
        <div class="status-title" cdkDragHandle fxFlex="none">
            <label>{{status?.label}}</label>
        </div>

        <div class="doc-list"
            
            (cdkDropListDropped)="drop($event, status)"
            [cdkDropListConnectedTo]="getConnectedList()"
            [cdkDropListData]="status.children"
            cdkDropList
            id="{{status.label}}">

            <div class="doc-cartd" *ngFor="let document of status.children"
                [cdkDropListData]="document"
                cdkDrag  >
                <div>
                    {{document?.docTitle}}
                </div>
            </div>
        </div>
        <button mat-button class="add-doc-Btn">
            <mat-icon>add</mat-icon>
            ADD DOCUMENT
        </button>
    </div>
    <button mat-button class="add-status-Btn" (click)="addStatus()">
        <mat-icon>add</mat-icon>
        ADD LIST
    </button>
</div>