.main-container{
    // padding: 10px;
    width: 650px;
    height: 100%;
}
.first-row{

    margin-bottom: 15px;

    .doc-title{
        word-break:break-all; 
        font-size: 24px;
        font-weight: bold;
    }

    .doc-status{
        color: rgb(141, 141, 141);
    }
    .mat-icon{
        color: #00154F;
        width: 28px;
        height: 28px;
        font-size: 28px;
    }
}

.profile-img-set{
    margin-block-end: 10px;
}
.profile-img{
	width: 50px;
	border: 0;
	height: auto;
    border-radius: 100%;
    margin-right: -15px;
	// margin-left: 60px;
}

.document-data{
    // width: 800px;
    min-height: 590px;
    max-height: 590px;

    overflow: auto;
}

table {
    table-layout: fixed;
    align-items: center;
    word-break: break-all;
}

.select {
    position: relative;
    overflow: auto;
  }

.demo-table {
	width: 100%;
	text-align: center;

	th {
        font-size: 14px;
		text-align: center;
	}
}
.mat-column-download {
    width: 30px;
}
.mat-column-delete {
    width: 30px;
}
.cursor {
    cursor: pointer;
}



.document-data::-webkit-scrollbar-track{
	background-color: #F5F5F5;
}
.document-data::-webkit-scrollbar{
    width: 8px;
	background-color: #F5F5F5;
}
.document-data::-webkit-scrollbar-thumb{
    border-radius: 8px;
    background-color: #bebebe;
	border: 1px solid #e2e2e2;
}

.file-row{

    margin: 15px 0;

    .row-main-icon{
        color: #00154F;
        width: 28px;
        height: 28px;
        font-size: 28px;
        margin-top: 3px;
    }
    .choose_file_name{
        width: 255px;
        height: 36px;
        border: 1px solid gray;
        border-radius: 3px;
        padding-left: 8px;
        font-weight: 300;
        font-size: 14px;
        color: gray;
        background-color: rgb(238, 238, 238);
    }
    .uploadFileLabel {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    #upload input[type=file] {
        display:none;
    }
    .upload_choose_button{
        height: 28px;
    }
    .choose_button_span {
        font-size: 14px;
        font-weight: 500;
        color: #fff;
        text-align:end;
        border: 1px solid rgba(0,0,0,.12);
        background-color: #00154F;
        box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
        border-radius: 3px;
        padding: 3px 6px;
        cursor: pointer;
        margin-left: 10px;
    }
    .file-upload-detail{
        cursor: pointer;
        font-weight: 550;
        text-decoration: underline;
    }
}




.description-row{

    margin: 15px 0;

    .mat-icon{
        color: #00154F;
        width: 30px;
        height: 30px;
        font-size: 30px;
    }
}

.description-box{
   
    position: relative;
    resize: vertical;
    border: 1.5px solid #bebebe;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    font-family: "Noto Sans", "Roboto", "Helvetica Neue", sans-serif;
    // overflow:hidden;
    width: 100%;
    height: 67px;
    overflow-wrap: break-word;
    
}
.description-box:hover{
    border: 1.5px solid #00154F;
    border-radius: 5px;
}

.description-box::-webkit-scrollbar-track{
	background-color: #F5F5F5;
}
.description-box::-webkit-scrollbar{
    width: 8px;
	background-color: #F5F5F5;
}
.description-box::-webkit-scrollbar-thumb{
    border-radius: 8px;
    background-color: #bebebe;
	border: 1px solid #e2e2e2;
}


.comment-row{

    margin: 15px 0;

    .mat-icon{
        color: #00154F;
        width: 28px;
        height: 28px;
        font-size: 28px;
    }
    .comment-input{
        margin-bottom: 10px;

    }
    .comment-textarea{
        position: relative;
        resize: none;
        border: 1.5px solid #bebebe;
        border-radius: 5px;
        outline: none;
        font-size: 13px;
        font-family: "Noto Sans", "Roboto", "Helvetica Neue", sans-serif;
        // overflow:hidden;
        width: 100%;
        height: 36px;
        overflow-wrap: break-word;
    }
    .comment-textarea:hover{
        border: 1.5px solid #00154F;
        border-radius: 5px;
    }
    .comment-textarea::-webkit-scrollbar-track{
        background-color: #F5F5F5;
    }
    .comment-textarea::-webkit-scrollbar{
        width: 8px;
        background-color: #F5F5F5;
    }
    .comment-textarea::-webkit-scrollbar-thumb{
        border-radius: 8px;
        background-color: #bebebe;
        border: 1px solid #e2e2e2;
    }
    .comment-save-btn{
        margin-left: 5px;
        background: #00154F;
        color: #fff;
    }

    .chat-name{
        font-weight: 400;
    }
    .chat-time{
        font-size: 14px;
        color: rgb(141, 141, 141);
    }
    .chat-content{
        font-size: 13px;
        color: rgb(141, 141, 141);
        white-space: pre-line;
        word-break: break-word;
    }
    .comment-content{
        margin-bottom: 12px;
        // padding: 5px;
        // border: 1px solid #e2e2e2;
        // border-radius: 4px;
        // background-color: #f0f0f0;
    }
    .chat-member-info{
        margin-bottom: 5px;
    }
    .chat-profile-img{
        width: 40px;
        border: 0;
        height: auto;
        border-radius: 100%;
        margin-right: 10px;
    }
}

.last-row{
    margin-top: 15px;
    margin-bottom: 10px;
}
.detail-btn{
    background-color: #00154F;
}