.dialogContainer{
    color: #636363;
	width: 400px;
    padding: 20px;
}

.btnBox {
    margin-top: 20px;
}

.confirmBtn {
    background: #00154F;
    color: #fff;
    padding: 0 30px;
}

.cancelBtn {
    background: #a3a3a3;
    color: #fff;
    padding: 0 30px;
}

.w-100p {
    width: 100%
}