<div class="mainTitle"> Contract Sign</div>
<table class="modal-table">
    <colgroup>
        <col style="width:120px">
        <col style="width:380px">
    </colgroup>
    <tbody>
        <tr>
            <th>
                Date
            </th>
            <td>
                {{data.date | date: 'YYYY-MM-dd'}}
            </td>
        </tr>
        <tr>
            <th>
                Title
            </th>
            <td>
                {{data.title}}
            </td>
        </tr>
        <tr>
            <th>
                Description
            </th>
            <td>
                {{data.description}}
            </td>
        </tr>
        <tr>
            <th>
                Sender
            </th>
            <td>
                {{data.sender.email}}
            </td>
        </tr>
        <tr>
            <th>
                Receiver
            </th>
            <td>
                {{data.receiver.email}}
            </td>
        </tr>
        <tr>
            <th>
                Sender Signed Time
            </th>
            <td>
                {{data.senderSign[0]?.signedTime}}
            </td>
        </tr>
        <tr>
            <th>
                Sender Sign
            </th>
            <div #canvasContainer class="canvas-container">
                <div class="canvasTeacher">
                    <canvas #senderCanvas></canvas>
                </div>
                <div class="cover" id="canvas" [hidden] = "editDisabled">
                    <canvas #senderCanvasCover></canvas>
                </div>
            </div>
        </tr>
        <tr>
            <th>
                Receiver Sign
            </th>
            <div #canvasContainer class="canvas-container receiver">
                <div class="canvasTeacher">
                    <canvas #receiverCanvas></canvas>
                </div>
                <div class="cover" id="canvas" [hidden] = "editDisabled">
                    <canvas #receiverCanvasCover></canvas>
                </div>
            </div>
        </tr>
    </tbody>
</table>


<div class="modal-btn">
    <button color="primary" class="confirm" mat-raised-button mat-dialog-close (click)="signContract()"> Confirm </button>
    <button mat-raised-button class="cancelBtn" [mat-dialog-close]="false">Cancel</button>
</div>