.chevrons {
  padding-top: 10px;
  font-size: 30px;
  .mat-form-field{
    font-size: 14px;
  }
}
.date{
  margin: 0px 10px
}

.monthBtnContainer {
    display: flex;
    flex-direction: row;
}


.monthBtn{
  .mat-icon {
    width: 100%;
    height: 100%;
    padding-top: 9px;
		font-size: 40px;
	}
}

.memberFilter {
  .mat-form-field{
    padding: 0px;
  }
}

@media screen and (max-width: 780px) {

    .flex {
        padding-bottom: 10px;
    }

    .chevrons {
        display: flex;
        flex-direction: column !important;
    }

    .monthBtnContainer {
        display: flex;
        flex-direction: row !important;
    }

    mwl-calendar-month-view {
        font-size: 12px;
    }
}